article,
.comments {
  @extend %padding-regular;
  border-bottom: 1px solid $border-color;
  float: left;
  width: 100%;
}
article {
  header {
    margin-bottom: $padding-x-small;
    h1 {
      font-weight: 700;
      font-size: 2.125rem;
      font-style: italic;
    }
  }
  a:hover {
    @extend %link-hover;
  }
  .footnotes {
    font-size: 0.9em;
  }
}
header {
  h1 {
    margin: 0;
  }
  .meta {
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    color: $text-color;
    font-family: $font-family-headings;
    font-family: "nyt-cheltenham-sh"; /* TODO hard-code font */
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 0.75rem;
    margin: 0;
    padding-top: 14px;
    padding-bottom: 16px;
    text-align: left;
    .author {
      margin-right: 12px;
      .author-name {
        text-transform: uppercase;
      }
    }
    .date {
      font-weight: 300;
      text-transform: uppercase;
    }
    .fa {
      font-size: 1.5em;
    }
    a {
      color: $header-link-color;
      text-decoration: none;
    }
    ul {
      float: right;
    }
    li {
      display: inline;
    }
  }
}
.feature-image {
  padding: 0%;
  .post-link {
    color: $feature-image-text-color;
  }
  header {
    color: $feature-image-text-color;
    background-size: $feature-image-size;
    margin-bottom: 0;
    padding: $padding-large/2.5 $padding-large;
    .meta {
      color: rgba($feature-image-text-color, .7);
    }
  }
  .post-content {
    @extend %padding-regular;
  }
}
// Post navigation
#post-nav {
  width:100%;
  border-bottom: 1px solid $border-color;
  display: flex;
  float: left;

  a, .page-title {
    display: inline-block;
  }

  .page-title {
    font-size: 1.2em;
    margin-bottom: 1em;
    width: 100%;
  }

  a {
    padding: 2em 3em;
    border: 1px solid rgba(255, 255, 255, 0);
    text-align: center;
    width: 50%;
  }
  a:hover {
    @extend a.button:hover;
  }

  i {
    vertical-align: middle;
  }
}

